* {
	box-sizing: border-box;
	margin-left: 0;
}

body {
	background: #BFA380;
}

nav ul{
  list-style-type: none;

  margin: 15px 15px;
  display: block;
}

ul.topnav {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A68053;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

ul.topnav li {
	float: left;
	margin: 10px;
}

ul.topnav li.right {
	float: right;
	margin: 15px auto;
}

header {
	display: block;
	text-align: center;
	background: #8D5630;
	padding: 65px 65px;
	width: 101%;
}

header h1 {
	font-family: 'Skranji', cursive;
	font-size: 50px;
	margin-bottom: 10px;
}

.info {
	display: inline-block;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.info h1 {
	display: block;
	align-self: flex-start;
}

.example-card {
	display: inline-block;
	width: 30%;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
    	float: none;
    	text-align: center;
    }

	header {
		display: block;
		text-align: center;
		background: #8D5630;
		padding: 255px 15px 35px;
		width: 103%;
	}

	.example-card {
		display: inline-block;
		width: 100%;
	}
}
